body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
}

.exam-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px;
}

.exam-card {
    width: 250px;
    height: 120px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.exam-card:hover {
    background-color: #45a049;
    transform: scale(1.05);
}